/* XSMALL & SMALL DEVICES */
@media (min-width: 320px) and (max-width: 768px) {
  body {
    margin-right: 5px;
    margin-left: 5px;
  }

  header {
    background-size: 50%;
    margin-top: 0;
    padding: 0.8em;
    height: 30%;
  }

  .icon-bar a {
    font-size: 30px;
  }

  .product-section {
    padding: 0.5em;
  }

  .name,
  .price {
    font-size: 1em;
  }

  .images {
    padding-left: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 300px;
    margin-bottom: 0.8em;
    max-height: 395px;
  }

  img {
    max-height: 240px;
  }

  .icon-bar {
    top: 3.5%;
  }

  .title {
    font-size: 1.1em;
  }

  .order {
    font-size: 1.3em;
  }

  .glow {
    font-size: 1.3em;
  }

  hr.rounded {
    border-top: 5px solid #272727;
    margin: 0;
  }

  .column {
    width: 100%;
    display: block;
  }

  footer {
    margin: 0;
    font-size: 0.6em;
  }
}

/*   SMALL TO MEDIUM DEVICES */
@media (min-width: 768px) and (max-width: 992px) {
  body {
    margin-right: 10px;
    margin-left: 10px;
  }

  header {
    background-size: 20%;
    margin-top: 0;
    padding: 0.5em;
    height: 25%;
  }

  .icon-bar a {
    font-size: 40px;
  }

  .product-section {
    padding: 0.8em;
  }

  .name,
  .price {
    font-size: 1em;
  }

  .images {
    padding-left: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 390px;
  }

  .card {
    max-width: 300px;
    margin-bottom: 0.8em;
    min-height: 250px;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  img {
    max-height: 240px;
  }

  .icon-bar {
    top: 3.5%;
  }

  .title {
    font-size: 1.1em;
  }

  .order {
    font-size: 1.3em;
  }

  .glow {
    font-size: 1.3em;
  }

  hr.rounded {
    border-top: 5px solid #272727;
    margin: 0;
  }

  .column {
    width: 100%;
    display: block;
  }

  footer {
    margin: 0;
    font-size: 0.6em;
  }
}

/*   LARGE DEVICES - DESKTOPS */
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    padding-right: 5em;
    padding-left: 5em;
  }

  header {
    background-size: 30%;
    font-size: 0.5em;
    height: 28%;
  }

  .icon-bar a {
    font-size: 40px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  .product-section {
    padding: 1em;
  }

  .title {
    font-weight: 600;
    font-size: 1.2em;
  }

  .name {
    height: 3.8em;
    padding-top: 0.8em;
  }
  .price {
    font-size: 0.9em;
  }

  .images {
    padding-left: 2.5em;
  }

  .icon-bar {
    top: 15.5%;
  }

  .glow {
    font-size: 1.5em;
  }

  hr.rounded {
    border-top: 6px solid #272727;
  }

  img {
    max-height: 300px;
  }

  .column {
    float: left;
    width: 16%;
    margin-bottom: 16px;
    padding: 0 4px;
  }
}

/*  EXTRA LARGE DEVICES */
@media (min-width: 1200px) {
  body {
    padding-right: 5em;
    padding-left: 5em;
  }

  header {
    background-size: 20%;
    /* margin-top: 1em; */
    height: 40%;
  }

  body {
    padding-right: 5em;
    padding-left: 5em;
  }

  .about-section {
    background-size: 25%;
    font-size: 0.5em;
    height: 25%;
  }

  .icon-bar a {
    font-size: 45px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  .product-section {
    padding: 1em;
  }

  .title {
    font-weight: 600;
    font-size: 1.2em;
  }

  .name {
    height: 3.8em;
    padding-top: 0.8em;
  }
  .price {
    font-size: 0.9em;
  }

  .images {
    padding-left: 2.5em;
  }

  .icon-bar {
    top: 15.5%;
  }

  .glow {
    font-size: 1.5em;
  }

  hr.rounded {
    border-top: 6px solid #272727;
  }

  img {
    max-height: 300px;
  }

  .column {
    float: left;
    width: 16%;
    margin-bottom: 16px;
    padding: 0 4px;
  }
}
